[Desktop Entry]
# The type as listed above
Type=Application
# The name of the application
Name=Surf
# A comment which can/will be used as a tooltip
Comment=Suckless Browser
# The path to the folder in which the executable is run
Path=/usr/bin/
# The executable of the application, possibly with arguments.
Exec=surf -fgNS -u "Mozilla/5.0 (PlayStation; PlayStation 5/5.02) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0 Safari/605.1.15"
# The name of the icon that will be used to display this entry
Icon=surf
# Describes whether this application needs to be run in a terminal or not
Terminal=false
# Describes the categories in which this entry should be shown
Categories=Browser;
